<div id="signup-page">
  {{#if message}}
    <h2>{{message}}</h2>
  {{/if}}

  <h2>Sign Up</h2>

  <form id="signup">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="firstname" placeholder="email">
    <input type="text" name="lastname" placeholder="email">
    <input type="text" name="dob" placeholder="email">
    <input type="text" name="experience" placeholder="email">
    <input type="text" name="gender" placeholder="username">
    <input type="text" name="height" placeholder="email">
    <input type="text" name="weight" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="Sign Up" class="btn btn-default">
  </form>

  <div id="signup-form-message"></div>

  <a href="/" class="btn btn-default">Back</a>
</div>

<script src="/public/js/auth/signup.js"></script>
<link rel="stylesheet" href="/public/css/auth/signup.css">
