

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4 infobox">.col-xs-6 .col-md-4</div>
    <div class="col-xs-12 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-12 col-md-4 infobox">
      <div class="row">
        <h1>Sign Up</h1>
      </div>
      <form id="signup">
        <div class="row">
          <input type="text" name="firstname" placeholder="First Name">
          <input type="text" name="lastname" placeholder="Last Name">
        </div>
        <div class="row">
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="row">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="row">
          <input type="text" name="dob" placeholder="Date of Birth">
        </div>
        <div class="row">
          <input type="text" name="gender" placeholder="Gender">
        </div>
        <div class="row">
          <input type="submit" name="Sign Up" class="btn btn-default">
          <div id="signup-form-message"></div>
        </div>
      </form>
    </div>
  </div>




</div>


<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/home.css">
<script src="/public/js/auth/signin.js"></script>
<link rel="stylesheet" href="/public/css/auth/signin.css">

<!--
    <input type="text" name="experience" placeholder="email">
    <input type="text" name="height" placeholder="email">
    <input type="text" name="weight" placeholder="email">
-->

<script src="/public/js/auth/signup.js"></script>
<link rel="stylesheet" href="/public/css/auth/signup.css">