<% if (user) { %>

<h1>EDIT</h1>
  <form id="edituser">
    <input type="email" name="email" placeholder="Email" value=<%= user.email %>>
    <input type="text" name="firstName" placeholder="First Name" value=<%= user.firstName %>>
    <input type="text" name="lastName" placeholder="Last Name" value=<%= user.lastName %>>
    <input type="date" name="dob" placeholder="Date of Birth" value=<%= user.date_of_birth %>>
    <input type="text" name="experience" placeholder="Experience" value=<%= user.experience %>>
    <input type="text" name="gender" placeholder="Gender" value=<%= user.gender %>>
    <input type="text" name="height" placeholder="Height" value=<%= user.height %>>
    <input type="text" name="weight" placeholder="Weight" value=<%= user.weight %>>
    <input type="text" name="memberships" placeholder="Memberships" value=<%= user.memberships %>>
    <input type="submit" name="addevent" class="btn btn-default">
  </form>

<% } else { %>
  <p>user does not exist</p>
<% } %>

<script src="/public/js/auth/editprofile.js"></script>