<% if (user) { %>
  <div class="container-fluid">
      <div class="col-xs-12 col-md-4">
        <div style="text-align:center">
          <img src=<%= user.image %> class="image-rounded">
        </div>
        <div>
          <p style="text-align:center"><%= user.firstName %> <%= user.lastName %></p>
        </div>
        <div>
          <p style="text-align:center">Rating: <%= user.rating %></p>
        </div>
        <ul class="list-group" style="width:300px;">
          <li class="list-group-item">Email: <%= user.email %></li>
          <li class="list-group-item">Date of Birth: <%= user.dateOfBirth %></li>
          <li class="list-group-item">Gender: <%= user.gender %></li>
          <li class="list-group-item"> Height: <%= user.height %></li>
          <li class="list-group-item">Weight: <%= user.weight %></li>
          <li class="list-group-item">Gym Memberships: <%= user.memberships %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <div>
          <h4>New Workout Session</h4>
          <form id="addevent">
            <div class="form-group">
              <input type="date" class="form-control" name="date" placeholder="Date">
            </div>
            <div class="form-group">
              <input type="time" class="form-control" name="time" placeholder="Time">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="activity" placeholder="Activity">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="location" placeholder="Location">
            </div>
            <div class="form-group">
              <input type="submit" name="addevent" class="btn btn-default">
            </div>
          </form>
        </div>
        <div>
          <h1>My created events</h1>
          <div name="my-event-section">
            <% myEvents.forEach(function(elem,index) { %>
              <ul name=<%= elem._id %>>
                  <li><%= elem.creator_id %></li>
                  <li><%= elem.partner_id %></li>
                  <li><%= elem.event_time %></li>
                  <li><%= elem.event_type %></li>
                  <li><button class="btn btn-danger delete-event" data-id=<%= elem._id %>>Delete Session</button></li>
              </ul>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <h1>My Joined Events</h1>
          <% joinedEvents.forEach(function(elem,index) { %>
            <ul name=<%= elem._id %>>
              <li><%= elem.creator_id %></li>
              <li><%= elem.partner_id %></li>
              <li><%= elem.event_time %></li>
              <li><%= elem.event_type %></li>
              <% if (user._id.toString() === elem.creator_id.toString()) { %>
                <li><button class="btn btn-danger delete-event" data-id=<%= elem._id %>>Delete Session</button></li>
              <% } else { %>
                    <li><button class="btn btn-warning unjoin-event" data-id=<%= elem._id %>>Un-Join Session</button></li>
              <% } %>
            </ul>
          <% }) %>
      </div>





        <div class="modal fade" id="delete-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to delte this session?</h3>
                  <button class="btn btn-danger" id="confirm-delete-event">Confirm Delete</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="unjoin-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to leave this session?</h3>
                  <button class="btn btn-danger" id="confirm-unjoin-event">Leave Session</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>

  <% } else { %>
    <p>user does not exist</p>
  <% } %>
</div>

<script src="/public/js/auth/events.js"></script>
<script src="/public/js/auth/profile.js"></script>
<link rel="stylesheet" href="/public/css/layouts/profile.css">