<% if (user) { %>
  <div class="container-fluid">

      <div class="col-xs-12 col-md-4">
      <div class="transparent centering">
        <div id="name-header">
          <h3><%= user.firstName %> <%= user.lastName %></h3>
        </div>
        <div style="text-align:center">
          <img src=<%= user.image %> class="img-rounded" id="mainImg">
        </div>
        <div>
          <p style="text-align:center">Rating: <%= user.rating %></p>
        </div>
        <div class="personal-stats-holder>">
          <div class="personal-stats"><b>Email</b><br> <%= user.email %></div>
          <div class="personal-stats"><b>Date of Birth</b><br> <%= user.dateOfBirth %></div>
          <div class="personal-stats"><b>Gender</b><br> <%= user.gender %></div>
          <div class="personal-stats"><b>Height</b><br> <%= user.height %></div>
          <div class="personal-stats"><b>Weight</b><br> <%= user.weight %></div>
          <div class="personal-stats"><b>Experience</b><br> <%= user.experience %></div>
          <div class="personal-stats"><b>Gym Memberships</b><br> <%= user.memberships %></div>
        </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="row">
        <div class="transparent centering-middle-top">
          <h4>New Workout Session</h4>
          <form id="addevent">
            <div class="form-group">
              <input type="date" class="form-control" name="date" placeholder="Date">
            </div>
            <div class="form-group">
              <input type="time" class="form-control" name="time" placeholder="Time">
            </div>
            <div class="form-group">
              <select type="text" class="form-control" name="duration" placeholder="Duration">
                <option selected disabled>Duration</option>
                <option>30 mins</option>
                <option>45 mins</option>
                <option>1 hour</option>
                <option>1.5 hours</option>
                <option>2 hours</option>
                <option>over 2 hours</option>
              </select>
            </div>
            <div class="form-group">
              <select type="text" multiple class="form-control" name="activity" placeholder="Activity">
                <option selected disabled>Workout (Hold CTRL for multiple selection)</option>
                <option>Chest</option>
                <option>Biceps</option>
                <option>Triceps</option>
                <option>Shoulders</option>
                <option>Upper Back</option>
                <option>Lower Back</option>
                <option>Legs</option>
              </select>
            </div>
            <div class="form-group">
              <select type="text" class="form-control" name="location" placeholder="Location">
                <option selected disabled>Location</option>
                <% locations.forEach(function (elem, index) { %>
                  <% if (elem.branch) { %>
                    <option><%= elem.brand %> - <%= elem.branch %></option>
                  <% } %>
                <% }); %>
                </select>
            </div>
            <div class="form-group">
              <input type="submit" name="addevent" class="btn btn-default">
            </div>
          </form>
        </div>
        </div>
        <div class="row">
          <div class="transparent centering-middle-bottom">
            <h4>My Workout Sessions</h4>
            <div name="my-event-section">
              <% myEvents.forEach(function(elem,index) { %>
                <div class="newBox col-xs-12" name=<%= elem._id %>>
                  <div class="col-xs-2 col-md-2 calender">
                    <%= elem.event_date %>
                  </div>
                  <div class="col-xs-6 col-md-6 details">
                    <p>Time: <%= elem.event_time %></p>
                    <p>Duration: <%= elem.event_duration %></p>
                    <p>Workout: <%= elem.event_type %></p>
                    <p>Location: <%= elem.event_location %></p>
                  </div>
                  <div class="col-xs-4 col-md-4 optionbuttons">
                     <button class="btn btn-danger delete-event" data-id=<%= elem._id %>>Delete Session</button>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <div class="row transparent centering-right-top">
      <h4>My Joined Events</h4>
          <% joinedEvents.forEach(function(elem,index) { %>
              <div class="newBox col-xs-12" name=<%= elem._id %>>
                <div class="col-xs-2 col-md-2 calender">
                  <% if (user._id.toString() === elem.creator_id.toString()) { %>
                    <img class="img-rounded" src=<%= elem.partner_image %>>
                    <p>Rating: <%= elem.partner_rating %></p>
                  <% } else { %>
                    <img src=<%= elem.creator_image %>>
                    <p>Rating: <%= elem.creator_rating %></p>
                  <% } %>
                </div>
                <div class="col-xs-6 col-md-6 details">
                  <% if (user._id.toString() === elem.creator_id.toString()) { %>
                    <p><%= elem.partner_name %></p>
                  <% } else { %>
                    <p><%= elem.creator_name %></p>
                  <% } %>
                  <p>Date: <%= elem.event_date %></p>
                  <p>Time: <%= elem.event_time %></p>
                  <p>Duration: <%= elem.event_duration %></p>
                  <p>Workout: <%= elem.event_type %></p>
                  <p>Location: <%= elem.event_location %></p>
                </div>
                <div class="col-xs-4 col-md-4 optionbuttons">
                  <% if (user._id.toString() === elem.creator_id.toString()) { %>
                    <button class="btn btn-danger delete-event" data-id=<%= elem._id %>>Delete Session</button>
                  <% } else { %>
                        <button class="btn btn-warning unjoin-event" data-id=<%= elem._id %>>Un-Join Session</button>
                  <% } %>
                </div>
              </div>
          <% }) %>
        </div>
        <div class="row transparent centering-right-top">
          <h4>Pending Rating</h4>
        </div>
      </div>

        <div class="modal fade" id="delete-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to delte this session?</h3>
                  <button class="btn btn-danger" id="confirm-delete-event">Confirm Delete</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="unjoin-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <h3>Are you sure you want to leave this session?</h3>
                  <button class="btn btn-danger" id="confirm-unjoin-event">Leave Session</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>

  <% } else { %>
    <p>user does not exist</p>
  <% } %>

<script src="/public/js/auth/events.js"></script>
<script src="/public/js/auth/profile.js"></script>
<link rel="stylesheet" href="/public/css/layouts/profile.css">