<% if (user) { %>
  <h1>Current User: <%= user.email %></h1>
  <h1>My created events</h1>
  <ul>
    <% myEvents.forEach(function(elem,index) { %>
      <li><%= elem.creator_id %></li>
      <li><%= elem.partner_id %></li>
      <li><%= elem.event_time %></li>
      <li><%= elem.event_type %></li>
    <% }) %>
  </ul>

<h1>ADD Event</h1>
  <form id="addevent">
    <input type="text" name="time" placeholder="time">
    <input type="text" name="event" placeholder="event">
    <input type="submit" name="addevent" class="btn btn-default">
  </form>
<h1>My Joined Events</h1>
  <ul>
    <% joinedEvents.forEach(function(elem,index) { %>
      <li><%= elem.creator_id %></li>
      <li><%= elem.partner_id %></li>
      <li><%= elem.event_time %></li>
      <li><%= elem.event_type %></li>
    <% }) %>
  </ul>
<!--<h1>Search</h1>
  <form id="searchevent">
    <input type="text" name="dateTime" placeholder="Date">
    <input type="text" name="location" placeholder="Location">
    <input type="text" name="activity" placeholder="Activity">
    <input type="submit" name="searchevent" class="btn btn-default">
  </form>
-->
<% } else { %>
  <p>user does not exist</p>
<% } %>

<script src="/public/js/auth/events.js"></script>