body {
  background-image: url("http://physicalliving.com/img/male_barbell_back_squat_with_spotter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
   text-align:center;
   color: white;
}

.transparent{
  background:rgba(255,165,0,0.7);
  border-radius: 10px;
}

.centering {
  width: 600px;
  height: 500px;
  position: absolute;
  margin: 0 auto;
}

