input[name="navdate"] {
  background-color: transparent;
  border-color: orange;
}
input[name="navtime"] {
  background-color: transparent;
  border-color: orange;
}
select[name="navlocation"] {
  background-color: transparent;
  border-color: orange;
}
select[name="navactivity"] {
  background-color: transparent;
  border-color: orange;
}
button[name="searchevent"] {
  background-color: orange;
  border-color: orange;
}
#today-search {
  background-color: transparent;
  border-color: orange;
  color: orange;
}

#navform {
  width: 800px;
  margin: 0px;
  padding: 0px;
  left: 30%;
  position: absolute;
}

#nav-image {
  height: 25px;
  width: 25px;
  border: 2px solid orange;
}